{% assign enable_toc = false %}
{% if site.toc and page.toc %}
  {% if page.content contains '<h2' or page.content contains '<h3' %}
    {% assign enable_toc = true %}
  {% endif %}
{% endif %}

{% if enable_toc %}
  <section id="toc-wrapper" class="d-none ps-0 pe-4">
    <div id="toc-box">
        <h2 class="panel-heading ps-3 mb-2">{{- site.data.locales[include.lang].panel.toc -}}</h2>
        <nav id="toc"></nav>
    </div>
    <button id="toc-toggle-btn" class="btn btn-sm" aria-label="목차 열기/닫기">
        <i class="fas fa-list-ul"></i>
    </button>
  </section>

    <script>
        {
            /* 부모 요소들 찾기 */
            const parents = (el, selector) => {
                const parents = [];
        
                while ((el = el.parentNode) && el !== document) {
                    if (!selector || el.matches(selector)) parents.push(el);
                }
                
                return parents;
            };

            /* 쓰로틀링 */
            const throttling = (func, timeout = 300) => {
                let timerId = null;

                return (() => {
                    if (timerId) {
                        return;
                    }

                    timerId = setTimeout(() => {
                        func();
                        timerId = null; 
                    }, timeout);
                })();
            };

            /* 목차 현재 위치 추적 */
            const TrackingScroll = () => {                
                const TocBox = document.getElementById('toc-box');
                const ActiveLink = TocBox.querySelector('.is-active-link');

                const TocBoxScrollTop = TocBox.scrollTop;
                const TocBoxClientTop = TocBox.getBoundingClientRect().top;
                const ActiveLinkClientTop = ActiveLink.getBoundingClientRect().top;

                const ActiveLiHeight = ActiveLink.clientHeight;
                
                const TrackingValue = ActiveLinkClientTop + TocBoxScrollTop - TocBoxClientTop - ActiveLiHeight;

                TocBox.scrollTop = TrackingValue;
            }

            const TocToggleBtn = document.getElementById('toc-toggle-btn');
            const TocId = 'toc-wrapper';
            const TocEl = document.getElementById(TocId);

            /* 목차 보이기/숨기기 */
            TocToggleBtn.addEventListener('click', () => {
                TocToggleBtn.classList.toggle('on');

                if (TocToggleBtn.classList.contains('on')) TocEl.classList.add('on');
                else TocEl.classList.remove('on');

                TrackingScroll();
            });

            /* 목차 외부를 클릭하면 목차를 닫는다. */
            document.addEventListener('click', ({ target }) => {
                if (!parents(target, '#' + TocId).length) {
                    TocToggleBtn.classList.remove('on');
                    TocEl.classList.remove('on');
                };
            });

            window.addEventListener('scroll', () => {
                throttling(TrackingScroll);
            });
        };
    </script>
{% endif %}