input[type=checkbox],
input[type=radio] { width: 22px; height: 22px; vertical-align: middle; background-color: #fff; background-repeat: no-repeat; background-position: center; background-size: contain; border: 1px solid #D3CFC8; appearance: none; print-color-adjust: exact; cursor: pointer; }
input[type=checkbox] { border-radius: .25em; }
input[type=radio] { border-radius: 50%; }

input[type=checkbox]:hover,
input[type=radio]:hover { border-width: 2px; border-color: #007BFF; }
input[type=checkbox]:active,
input[type=radio]:active { filter: brightness(90%) }
input[type=checkbox]:checked { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") }
input[type=radio]:checked { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='1.5' fill='%23fff'/%3e%3c/svg%3e") }
input[type=checkbox]:disabled,
input[type=radio]:disabled { background-color: #eceef1; pointer-events: none; filter: none; opacity: .5; }
input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:indeterminate { background-color: #007BFF; border-color: #007BFF; box-shadow: 0 2px 4px 0 #007BFF66 }
input[type=checkbox]:disabled+label,
input[type=radio]:disabled+label { cursor: default; opacity: .5 }
input[type=checkbox]+label,
input[type=radio]+label { cursor: pointer; vertical-align: middle; }